body {    
    font-family: 'Bungee', cursive;
}

.ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 10px;
}

.li {
    padding: 5px 20px 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 8px;
}

.li > a {
    text-decoration: none;
    color: black;
}

.li:hover {
    background-color: crimson;
}

.li:hover > a {
    color: white;
}

#name, .wrap {
    text-align: center;
    color: blueviolet;
    font-size: 1.7em;
    margin-top: 40px;
}

.typewrite {
    text-align: center;
    font-size: 1.7em;
}

.cover {
    display: flex;
    justify-content: center;
    margin-top: 30px;   
}

#skills {
    margin-top: 80px;
    font-size: 15px;
}

* {box-sizing:border-box}

h3 {
    text-align: center;
}

.skillBox {
  width: 100%; /* Full width */
  height: 25px;
}

.skills {
  padding-right: 20px;
  height: 20px;
  text-align: right; /* Right-align text */
  color: white; /* White text color */
  font-family: 'Alegreya Sans SC', sans-serif;
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3; animation-delay: 1s;} /* Blue */
.js {width: 90%; background-color: #f44336; animation-delay: 2s;} /* Red */
.python {width: 70%; background-color: #0e4718; animation-delay: 3s}
.solidity {width: 50%; background-color: #700570; animation-delay: 4s;}
.react {width: 60%; background-color: #808080; animation-delay: 5s;}
.flutter {width: 50%; background-color: #b9a808; animation-delay: 6s;}
.node {width: 80%; background-color: #028085; animation-delay: 7s;}
.express {width: 70%; background-color: #021a85; animation-delay: 8s;}

#copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-family:  'Courier New', Courier, monospace;
}

@media only screen and (max-width: 700px) {
    .li {
        padding: 5px;
        font-size: 0.5em;
        margin-right: 4px;
    }
    #name, .typewrite {
        margin-top: 50px;
        font-size: 0.8em;
    }
    .cover {
        margin-top: 70px;
        margin-bottom: 10px;
    }
    img {
        height: 200px;
        width: 300px;
    }
}