body {    
    font-family: 'Bungee', cursive;
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 10px;
}

li {
    padding: 5px 20px 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 8px;
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: crimson;
}

li:hover > a {
    color: white;
}

#name, .wrap {
    text-align: center;
    color: blueviolet;
    font-size: 1.7em;
    margin-top: 60px;
}

.cover {
    display: flex;
    justify-content: center;
    margin-top: 70px;   
}

@media only screen and (max-width: 800px) {
    li {
        padding: 5px;
        font-size: 0.5em;
    }
    #name {
        font-size: 0.8em;
    }
    .cover {
        margin-bottom: 10px;
    }
}